{% extends "layout.html"%}
{% block body %}

<h1 class="agentstable-h1">
    The Agents Table
</h1>
<div class="table-container">
    <table class="w3-table-all">
        <tr >
            <th>name</th>
            <th>profession</th>
            <th>origins</th>
            <th>real name</th>
        </tr> 
        {% for agent in agents %}
        <tr>
            <td><a href="/agent/{{agent[0]}}"><img src="static/images/{{agent[5]}}" class="agent-image1">{{agent[1]}}</a></td>
            <td><img src="static/images/{{agent[6]}}" class="profession-image">{{agent[2]}}</td>
            <td><img src="static/images/{{agent[7]}}" class="origin-image">{{agent[3]}}</td>
            <td>{{agent[4]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %} 