{% extends "layout.html"%}
{% block body %}

<h1 class="agentstable-h1">
    The Agents Table
</h1>
<table class="w3-table-all">
    <tr>
        
        <th>name</th>
        <th>profession</th>
        <th>origins</th>
        <th>real name</th>
    </tr> 
    {% for agent in agents %}
    <tr>
        <td><img src="static/images/{{agent[4]}}" class="agent-image">{{agent[0]}}</td>
        <td><img src="static/images/{{agent[5]}}" class="profession-image">{{agent[1]}}</td>
        <td><img src="static/images/{{agent[6]}}" class="origin-image">{{agent[2]}}</td>
        <td>{{agent[3]}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %} 