{% extends "layout.html"%}
{% block body %}

<h1>
    List of Agents
</h1>
<table class="w3-table-all">
    <tr>
        
        <th>name</th>
        <th>profession</th>
        <th>origins</th>
        <th>real name</th>
    </tr> 
    {% for agent in agents %}
    <tr>
        <td><img src="static/images/{{agent[4]}}" class="agent-image">{{agent[0]}}</td>
        <td>{{agent[1]}}</td>
        <td>{{agent[2]}}</td>
        <td>{{agent[3]}}</td>
    </tr>
    {% endfor %}
</table>

<p>{{agents}}</p>

{% endblock %}