{% extends "layout.html"%}
{% block body %}

<h2 class="home-header">
    All Agents
</h2>

<div class="card"> 
    <img src="/static/images/Brimstone.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Brimstone
        </h2>
        <a href="/agent/1">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Viper.jpg" alt="Image">
    <div class="card-content">
        <h2>
            Viper
        </h2>
        <a href="/agent/2">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Omen.jpg" alt="Image">
    <div class="card-content">
        <h2>
            Omen
        </h2>
        <a href="/agent/3">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Killjoy.jpg" alt="Image">
    <div class="card-content">
        <h2>
            Killjoy
        </h2>
        <a href="/agent/4">
            Read More
        </a>
    </div>
</div>


{% endblock %}

