{% extends "layout.html"%}
{% block body %}

<div class="search-container">
    <form action="/search" method="get">
        <input type="text" placeholder="Search for agents..." name="query" class="search-bar">
        <button type="submit" class="search-button">Search</button>
    </form>
</div>
<!-- The search bar -->
 
<h2 class="home-header">
    All Agents
</h2>

<div class="card"> 
    <img src="/static/images/Brimstone.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Brimstone
        </h2>
        <a href="/agent/1">
            Read More
        </a>
    </div>
</div>
<!-- Brimstorm -->

<div class="card">
    <img src="/static/images/Viper.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Viper
        </h2>
        <a href="/agent/2">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Omen.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Omen
        </h2>
        <a href="/agent/3">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Killjoy.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Killjoy
        </h2>
        <a href="/agent/4">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Cypher.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Cypher
        </h2>
        <a href="/agent/5">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Sova.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Sova
        </h2>
        <a href="/agent/6">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Sage.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Sage
        </h2>
        <a href="/agent/7">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Phoenix.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Phoenix
        </h2>
        <a href="/agent/8">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Jett.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Jett
        </h2>
        <a href="/agent/9">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Reyna.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Reyna
        </h2>
        <a href="/agent/10">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Raze.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Raze
        </h2>
        <a href="/agent/11">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Breach.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Breach
        </h2>
        <a href="/agent/12">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Skye.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Skye
        </h2>
        <a href="/agent/13">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Yoru.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Yoru
        </h2>
        <a href="/agent/14">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Astra.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Astra
        </h2>
        <a href="/agent/15">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/KAYO.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            KAY/O
        </h2>
        <a href="/agent/16">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Chamber.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Chamber
        </h2>
        <a href="/agent/17">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Neon.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Neon
        </h2>
        <a href="/agent/18">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Fade.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Fade
        </h2>
        <a href="/agent/19">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Harbor.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Harbor
        </h2>
        <a href="/agent/20">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Gekko.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Gekko
        </h2>
        <a href="/agent/21">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Deadlock.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Deadlock
        </h2>
        <a href="/agent/22">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Iso.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Iso
        </h2>
        <a href="/agent/23">
            Read More
        </a>
    </div>
</div>

<div class="card">
    <img src="/static/images/Clove.jpg" alt="Image">
    <div class="card-content">
        <h2 class="card-h2">
            Clove
        </h2>
        <a href="/agent/24">
            Read More
        </a>
    </div>
</div>

{% endblock %}