<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" cotent="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <title> Document </title>
    </head>
    <body>
        <header>
            {% include "header.html"%}
        </header>

        <nav>
            {% include "nav.html" %}
        </nav>
                
            {% block body %}
            {% endblock %}

            <footer>
            {% include "footer.html" %}
            </footer>       
    </body>
</html>