{% extends "layout.html"%}
{% block body %}

<p class="purpose-discription">
    The purpose of this website is for Valorant players to have somewhere to see about all the informations of this game. All agents, their descriptions, thier abilities, professions and descriptions etc etc.
    We hope that this webisite could make these informations obiously seen and understood by player, and hopefully this website will provide helpful informations and ideas for the ones who are new to the game and
    needs to get a idea of what it is about.
</p>

{% endblock %}
